.contactInfo {
  background-color: var(--COLOR-THEME-2);
  min-height: 20vh;
  padding: 3vh;
  margin-top: 8vh;
  margin-bottom: 2vh;
  column-count: 3;
  column-width: 250px;
  column-gap: 3vh;
  column-rule: 3px solid var(--COLOR-THEME-1);
}

.phone,
.email,
.address {
  display: inline-block;
  margin-bottom: 2vh;
}
