.footer {
  font-size: var(--FS-SMALL);
  background-color: var(--COLOR-THEME-1);
  color: var(--COLOR-THEME-3);
  display: grid;
  place-content: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-block: 1vh;
}
