.header {
  color: var(--COLOR-THEME-1);
  background-color: var(--COLOR-THEME-4);
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  padding: 2vh 4vw;
  box-shadow: var(--BOX-SHADOW);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.header__title {
  font-weight: bold;
  font-size: var(--FS-LARGE);
  font-family: var(--FF-CINZEL);
}
