#projectsContainer {
  margin-top: 4vh;
  margin-inline: 4vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
}

@media screen and (max-width: 800px) {
  #projectsContainer {
    grid-template-columns: 1fr;
    gap: 6vh;
  }
}

