
hr {
  margin-top: 12vh;
  border: 1px solid var(--COLOR-THEME-3);
}

.title {
  margin-top: 12vh;
  font-size: var(--FS-LARGE);
  font-family: var(--FF-CINZEL);
  text-align: center;
  color: var(--COLOR-THEME-4);
}

.subTitle {
  font-size: var(--FS-LARGE);
  font-family: var(--FF-CINZEL);
  text-align: center;
  color: var(--COLOR-THEME-3);
}